*.exe
*.ilk
*.pdb
*.ncb 
*.suo
*.user
*.pch
*.log
*.lib
*.obj
*.ncb
*.exp
*.pyc
*.pyd
*.mat
*.cxx
*.bin
*.o
*.a
*.vshost*
*.dll
*.mex*
*.asv
*.txt
*~
*#*#
*.so
*.so.*
obj/*
Debug/
Release/
modules/*/obj/*
.idea/
